<app-global-error></app-global-error>
<div class="max-w-2xl container mx-auto pt-5">
  <h1 class="text-2xl text-blue-700 font-bold text-center my-4">{{ title | titlecase }}</h1>
  <input class="mb-2 border py-2 px-4 w-full" placeholder="Filter product..." [(ngModel)]="textSearch">

  <p *ngIf="loading" class="text-center text-lg">Loading...</p>
  <div *ngIf="products$ | async as products">
    <app-product *ngFor="let product of products | filterProducts:textSearch; let i = index" [product]="product"></app-product>
  </div>
</div>
